.Menu {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;

    background-color: dodgerblue;
}

.Menu h1 {
    flex: 1;

    color: white;
    text-align: center;
}

.Menu nav {
    flex: 1;
}

.Menu ul {
    list-style: none;
    padding: 0;
}

.Menu li {
    display: flex;
}

.Menu li a {
    flex: 1;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;

    border-radius: 50px;

    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.Menu li a:hover {
    background-color: #00000020
}

.Menu li a span {
    padding-left: 50px;
}