.Card {
    background-color: #6c6c6c;
    border: 3px solid #6c6c6c;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;

    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 500px;
}

.Card .Title {
    padding: 10px 0px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.Card .Content {
    background-color: white;
    color: black;
    padding: 20px;
}

