.Card {
    background-color: #6c6c6c;
    border: 3px solid #6c6c6c;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.Card .Title {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    font-weight: bold
}

.Card .Content {
    background-color: white;
    color: black;
    padding: 20px;
}